version: "3.9"

services:
  app:
    build:
      context: ./seletivo
      dockerfile: Dockerfile
    env_file:
      - ./seletivo.env
    ports:
      - "8080:8080"
    depends_on:
      minio:
        condition: service_healthy
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:18
    restart: unless-stopped
    env_file:
      - seletivo.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_vol:/var/lib/postgresql/18/docker
    networks:
      - seletivo_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: seletivo_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_vol:/data
    networks:
      - seletivo_net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      retries: 5
      timeout: 5s

volumes:
  postgres_vol:
  minio_vol:

networks:
  seletivo_net:
    driver: bridge
